.modal-overlay {
  position: fixed;
  top: 30px;
  left: 300px;
  width: 700px;
  height: auto;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 25px;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  border: none;
  background: none;
  font-size: 1.3rem;
  cursor: pointer;
}
