.head-container {
  display: flex;
  gap: 60%;
  justify-content: space-between;
}

.add-job-btn {
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border-radius: 8px;
  border: none;
  white-space: nowrap;
}
.job-cards-container {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2px;
}
