h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: blueviolet;
  font-weight: 700;
  text-align: center;
}

p {
  font-size: medium;
  color: cadetblue;
  text-align: center;
  margin-top: -20px;
}
