h1 {
  color: #000;
  font-weight: 700;
  text-align: center;
}
.blueText {
  color: #0228d3;
  font-weight: 800;
}
p {
  font-size: medium;
  color: cadetblue;
  text-align: center;
  margin-top: 0px;
}
